:root {
	font: 10px Arial, sans-serif;
	--hue: 200;
	--saturation: 63%;
	--link-color: hsl(var(--hue),var(--saturation),55%);
	--background: hsl(var(--hue),var(--saturation),95%);
	--foreground: hsl(var(--hue),var(--saturation),4%);
    --button-color: hsl(199, 63%, 55%, 100%);
    --grayish: hsl(225, 11%, 64%, 100%);
    --button-hover: hsl(199, 52%, 42%);
    --secondary-button-hover: hsl(var(--hue),var(--saturation),90%);
    --textBlack: hsl(0, 0%, 24%, 100%);
    --deepBlue: hsl(227, 96%, 10%, 100%);
}
body {
	min-height: 100%;
	height: 6000px;
	width: 100%;
	font-size: 1.6rem;
	color: var(--foreground);
}
a, a:visited {
	color: var(--link-color);
}

main p {
    padding-bottom: 4rem;
}

/* ---hero--------------------------------------------------------------------*/
header {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

header img {
    height: 120%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 0;
}

header .hero__gradient {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}


header .hero__text {
    position: absolute;
    top: 20%;
    left: 5%;  
    text-align: left;
    font-family: "Metrophobic", sans-serif;
    color: whitesmoke;
    font-size: 80pt;
    z-index: 2;
    font-family: "Sansation", sans-serif;
    font-style: normal;
}

header .welcome__text {
    position: absolute;
    width: 70%;
    top: 60%;
    left: 5%;
    font-family: "Metrophobic", sans-serif;
    color: rgb(21, 21, 21);
    font-size: 14pt;
    text-align: left;
    z-index: 2;
}

header .welcome__text p {
    font-size: 20pt;
}

header .hero__button {
    position: absolute;
    display: flex;
    width: 100%;
    top: 80%;
}

header .hero__button button {
    flex-direction: row;
    width: 40%;
    padding: 30px;
    margin: 5%;
    border: none;
    text-align: center;
    z-index: 3;
    color: var(--background);
    background-color: var(--button-color);
    font-size: 18pt;
    font-family: "Metrophobic", sans-serif;
}

header .hero__button .hero__secondary__button {
    color: var(--button-color);
    background-color: var(--background);
    border: 2px var(--button-color) solid;
}

header .hero__button button:hover {
    background-color: var(--button-hover);
}

header .hero__button .hero__secondary__button:hover {
    color: var(--button-color);
    background-color: var(--secondary-button-hover);
    border: 2px var(--button-color) solid;
}

/* ---main-------------------------------------------------------------------*/

main {
    display: grid;
    grid-template-columns: 100%;
}

.card {
    font-family: "Metrophobic", sans-serif;
    background-color: white;
    box-sizing: border-box;
    min-height: 100vh;
    border-radius: 0rem;
    padding: 3rem;
    grid-column: 1;
    font-size: 14pt;
}

.headerText{
    color: var(--textBlack);
    padding-bottom: 0.2em;
    line-height: 1.4em;
    letter-spacing: 0.012rem;
}

.bodyText{
    line-height: 1.35em;
    letter-spacing: 0.015rem;
    padding-bottom: 1em;
    color: var(--textBlack);

}

.cardLight {
    background-color: white;
}
.cardGrayish {
    background-color: var(--grayish);
}
.cardDark {
    background-color: var(--foreground);
}

#euroStat {
    background-color: white;
}

#liveMapPm25 {
	height: 70vh;
    width: 100%;
}


@media only screen and (min-width: 800px){
    main {
        display: grid;
        grid-template-columns: 15% 70% 15%;
        background: linear-gradient(180deg, white , var(--deepBlue) 100%);
    }

    .card {
        font-family: "Metrophobic", sans-serif;
        background-color: white;
        box-sizing: border-box;
        min-height: 600px;
        border-radius: 2rem;
        padding: 3rem;
        grid-column: 2;
        margin-top: 10rem;
        margin-bottom: 10rem;
    }

    .card h1 {
        font-size: 20pt;
    }

    .card p {
        font-size: 15pt;
    }

    .graph {
        margin: 10vh;
    }

    /* ---hero--------------------------------------------------------------------*/
    header {
        height: 700px;
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    header img {
        height: 1000px;
        width: 100%;
        position: absolute;
        object-fit: cover;
        top: 0;
        left: 0;
        z-index: 0;
    }

    header .hero__gradient {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, transparent, white);
    }


    header .hero__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: whitesmoke;
        font-size: 100pt;
        text-align: center;
        z-index: 2;
        filter: drop-shadow(0 0 1rem hsl(198, 100%, 50%, 75%));
        font-family: "Sansation", sans-serif;
    }

    header .welcome__text {
        display: none;
    }

    header .hero__button {
        display: none;
    }
}
