:root {
	font: 10px Arial, sans-serif;
	--hue: 200;
	--saturation: 63%;
	--link-color: hsl(var(--hue),var(--saturation),55%);
	--background: hsl(var(--hue),var(--saturation),95%);
	--foreground: hsl(var(--hue),var(--saturation),4%);
}
body {
	min-height: 100%;
	height: 6000px;
	width: 100%;
	font-size: 1.6rem;
	background: linear-gradient(180deg, var(--background) 0%, var(--foreground) 100%);
	color: var(--foreground);
}
a, a:visited {
	color: var(--link-color);
}


main {
    display: grid;
    grid-template-columns: 15% 70% 15%;
}

.card {
    font-family: "Metrophobic", sans-serif;
    background-color: white;
    box-sizing: border-box;
    border-radius: 0rem;
    padding: 3rem;
    grid-column: 1 / span 3;
    margin-top: 10rem;
    margin-bottom: 10rem;
}
#liveMapPm25 {
	height: 70vh;
    width: 100%;
}
@media only screen and (min-width: 900px){
    .card {
    font-family: "Metrophobic", sans-serif;
    background-color: white;
    box-sizing: border-box;
    border-radius: 3rem;
    padding: 7rem;
    grid-column: 2;
    }

    .card h1 {
        font-size: 20pt;
    }

    .card p {
        font-size: 15pt;
    }

    #deathRateCanvasID {
        margin: 2rem;
    }
}
