:root {
	font: 10px Arial, sans-serif;
	--hue: 200;
	--saturation: 63%;
	--link-color: hsl(var(--hue),var(--saturation),55%);
	--background: hsl(var(--hue),var(--saturation),95%);
	--foreground: hsl(var(--hue),var(--saturation),4%);
    --button-color: hsl(199, 63%, 55%, 100%);
    --grayish: hsl(220, 16%, 93%);
    --button-hover: hsl(199, 52%, 42%);
    --secondary-button-hover: hsl(var(--hue),var(--saturation),90%);
    --textBlack: hsl(0, 0%, 24%, 100%);
    --headingBlack: hsl(0, 0%, 11%);
    --deepBlue: hsl(227, 96%, 10%, 100%);
    --white: hsl(0, 0%, 98%, 100%);
}
body {
	min-height: 100%;
	height: auto;
	width: 100%;
	font-size: 1.6rem;
	color: var(--foreground);
}
a, a:visited {
	color: var(--link-color);
}

/* ---hero--------------------------------------------------------------------*/
header {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% auto auto auto 20%;

    img {
        height: 120%;
        width: 100%;
        position: absolute;
        object-fit: cover;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .hero__gradient {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, transparent, var(--white));
    }
    
    .hero__text {
        grid-row: 2 / span 1;
        grid-column: 1 / span 2; 
        text-align: left;
        font-family: "Metrophobic", sans-serif;
        color: var(--deepBlue);
        font-size: 80pt;
        z-index: 2;
        font-family: "Sansation", sans-serif;
        font-style: normal;
        margin-left: 15%;
        /*filter: drop-shadow(0 0 1rem hsl(198, 100%, 50%, 75%));*/
    }

    .welcome__text {
        grid-row: 4;
        grid-column: 1 / span 3;
        font-family: "Metrophobic", sans-serif;
        color: rgb(21, 21, 21);
        font-size: 20pt;
        text-align: left;
        z-index: 2;
        margin-left: 10%;

        p {
        font-size: 25pt;
        }   
    }

    .hero__button {
        grid-row: 5;
        grid-column: 1 / span 4;
        display: flex;
        flex-direction: row;
        gap: 5%;
        justify-content: center;

        button {
            width: 40%;
            height: 30%;
            border: none;
            text-align: center;
            z-index: 3;
            color: var(--background);
            background-color: var(--deepBlue);
            font-size: 18pt;
            font-family: "Metrophobic", sans-serif;
            border-radius: 10px;

            &:hover {
                background-color: var(--button-hover);
            }
        }

        .hero__secondary__button {
            color: var(--deepBlue);
            background-color: var(--background);
            border: 2px var(--deepBlue) solid;

            &:hover {

                background-color: var(--secondary-button-hover);
                border: 2px var(--deepBlue) solid;
            }
        }
    }
}

/* ---main-------------------------------------------------------------------*/

main {
    display: grid;
    grid-template-columns: 100%;
    background-color: var(--white);
}

.card {
    font-family: "Metrophobic", sans-serif;
    background-color: var(--white);
    box-sizing: border-box;
    border-radius: 0rem;
    padding: 3rem;
    grid-column: 1;
    font-size: 14pt;
    margin-top: 10rem;
}

.background__gray {
        background-color: var(--grayish);
}

.header__text{
    color: var(--deepBlue);
    padding-bottom: 0.2em;
    line-height: 1.4em;
    letter-spacing: 0.012rem;
    font-size: 24pt;
}

.body__text{
    font-family: "Metrophobic", sans-serif;
    line-height: 1.35em;
    letter-spacing: 0.015rem;
    padding-bottom: 1em;
    color: var(--textBlack);
    font-size: 15pt;
}

#liveMapPm25 {
	height: 70vh;
    width: 100%;
  
}

/*---footer--------------------------------------------------------------*/

footer {
    background-color: var(--deepBlue);
    height: 30vh;
    padding: 4vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;


    .footer__heading {
        height: fit-content;
        width: 100%;
        font-family: "Sansation", sans-serif;
        color: var(--white);
        border-bottom: 1px var(--white) solid;
        margin-bottom: 2vh;
    }

    .footer__text {
        font-family: "Sansation", sans-serif;
        color: var(--white);
        font-size: 10pt;
        margin-bottom: 3vh;
    }
}


@media only screen and (min-width: 800px){
    p {
        max-width: 75ch;
    }

    .body__text{
        font-size: 18pt;
    }

    main {
        background: var(--white);
    }

    .card {
        display: grid;
        grid-template-columns: 20% 60% 20%;
        justify-content: center;
    }

    .content {
        font-family: "Metrophobic", sans-serif;
        padding: 3rem;
        grid-column: 2;
        width: 100%;
    }

    .graph {
        margin-top: 4vh;
        margin-bottom: 4vh;
    }

    /* ---hero--------------------------------------------------------------------*/
    header {
        height: 700px;
        width: 100%;
        position: relative;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
            position: absolute;
            object-fit: cover;
            top: 0;
            left: 0;
            z-index: 0;
        }

        .hero__gradient {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
        }

        .hero__text {
            grid-column: 2 / span 2;
            grid-row: 3;
            font-size: 100pt;
            text-align: center;
            margin-left: 0vw;
        }

        .welcome__text {
            display: none;
        }

        .hero__button {
            display: none;
        }
    }
}