header {
    height: auto;
    width: 100%;
    background-color: var(--deepBlue);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
    font-family: "Sansation", sans-serif;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    z-index: 3;
    background-color: var(--deepBlue);

    li {
        height: 60px;
        font-size: 12pt;
    }

    li:first-child {
        margin-right: auto;
        font-size: 18pt;
    }

    li:first-child a:hover {
        background-color: var(--deepBlue);
    }

    li:last-child a:hover {
        background-color: var(--deepBlue);
        cursor: pointer;
    }

    a {
        height: 100%;
        padding: 0 30px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: var(--white);
    }

    a:hover {
        background-color: var(--button-hover);
        text-decoration: none;
    }

    a:visited {
        color: var(--white);
    }
}

.sidebar {
    height: auto;
    width: 50vw;
    position: absolute;
    top: 60px;
    right: 0vw;
    z-index: 2;
    display: none;
    flex-direction: column;
    background-color: var(--background);
    border-radius: 0 0 0px 10px;
    box-shadow: inset 0px 10px 7px -10px black;
    filter: drop-shadow(0px 0px 3px black);
    animation-name: move-down;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;

    
    li:first-child {
        font-size: 12pt;
        border-top: 0;

        a:hover {
            background-color: var(--secondary-button-hover);
            box-shadow: inset 0 10px 7px -10px black;
        }
    }

    li:last-child {
        a {
            border-radius: 0px 0px 0px 10px;
        }

        a:hover {
            background-color: var(--secondary-button-hover);
        }

    }

    li {
        width: 100%;
        border-top: 2px var(--button-hover) solid ;
    }
    a {
        width: 100%;
        display: flex;
        justify-content: center;
        color: var(--deepBlue);
    }
    a:hover {
        background-color: var(--secondary-button-hover);
    }
    a:visited {
        color: var(--deepBlue);
    }
}

.hide-on-mobile {
        display: none;
    }

@keyframes move-down {
    from {
        right: -52vw;
    }

    to {
        right: 0vw;
    }
}

@media only screen and (min-width: 500px){
    .sidebar {
    }
}

@media only screen and (min-width: 800px){
    .hide-on-mobile {
        display: flex;
    }

    .hide-on-desktop {
        display: none;
    }
}