
 .sgdList {
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}
.sgdListItem {
 flex-direction: column;
}

.sdgImg {
 width: 30rem;
 height: 30rem;
}


@media only screen and (min-width: 800px) {
  
 .sgdList {
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 2rem;
   justify-content: space-around;

}
.sgdListItem {
 flex-direction: column;
}

.sdgImg {
    width: 30rem;
    height: 30rem;
}
.sgdText{
    width: 30rem;

}
}
